#ms-belltown-table{padding-bottom:0;}
body{overflow:auto !important;height:initial !important;}
.tcenter{text-align:center;}

#contentBox{min-height:500px;background-color:#fff;}
#pageStatusBar{margin-bottom:0 !important;}
#globalNavBox * {
    -webkit-box-sizing: initial !important;
    -moz-box-sizing: initial !important;
     box-sizing: initial !important;  
}
body  {
  /*   background: #fff;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.1), 3px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.1), 3px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.1), 3px 0px 5px 0px rgba(0, 0, 0, 0.1);  */
    width: 100%;
    margin: 0 auto;
    height:100%; 
}
a:hover{text-decoration:none;}
.top{display:none;}
header{
    background: #fff;
    border-bottom: 1px solid #fff;
    height: 113px;
    padding: 0;
    background-size: cover;
}
header .container{position:relative}
a#logo{width:667px;height:97px;background:url(../img/logo.png) no-repeat left 20px center;display:block;margin-top:10px}
header .bg-header{background:#eee;}
header .bg-header .img-reponsive{margin-top:0px; margin-right:0px; height:113px;}

nav{background-color:#0389f1}
nav ul{text-transform:uppercase;font-size:12px;font-weight:600;margin:0;padding:0;list-style:none;position:relative}
nav ul li{float:left;white-space:nowrap;-webkit-transition:background .2s;transition:background .2s}
nav ul li a,nav ul li a:visited{padding:10px;display:block;color:#fff;font-size:12px;}
nav ul li:last-child a{border-right:none}
nav ul li.home a{padding:10px 20px}
nav ul li:hover{background-color:#0151bf}
nav ul li:hover a{color:#fff;text-decoration:none;}
nav ul li.active{background-color:#0151bf}
nav ul li.active a{background:url(../img/arrow.png) no-repeat center bottom}

/*.sub-nav{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175)}

nav > .dropdown-menu, .dropdown-toggle > .dropdown-menu, .dropdown > .dropdown-menu {
    margin-top: 10px;
}*/
	nav ul li:hover .dropdown-menu
	{
		display: block;	
	}
    /*nav ul li:hover .dropdown-menu li:hover{display:block;}*/
.dropdown-menu {
    position: absolute;
	/*margin-top: 10px;*/
	color:#fff;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 0px;
    margin: 0px;   
    list-style: none;
    font-size: 12px;
    text-align: left;
    background-color: #0389f1;
    border: 1px solid #ccc;
   border-top:1px solid #0389f1;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}
	.dropdown-menu > li
	{
		background-color:#fff;
	/*  min-width: 160px;
	*min-width: 175px;*/
	 
	}

    .dropdown-menu >li:hover{background-color:#fff;}
.dropdown-menu >li>a{width:100%;}
.dropdown-menu > li > a:focus {  
  text-decoration:none;
  /*background-color:#0389f1;*/
   /*min-width: 160px;*/
  /*background:url(../img/arrow-right-gray.png) no-repeat center right;*/
}

.dropdown-menu > li {width:100%;}

.dropdown-menu > li > a {
    padding: 8px 16px;    
    text-decoration: none;
    display: block;
    clear: both;
    font-size:11px;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
	background-color:#fff;
    font-weight:bold;
    padding:5px 10px;
    color:#0151bf !important;
    border-bottom:1px solid #eee;
}
.dropdown-menu > li:hover > a{color:#a60406 !important;}



.breadcrumb{background-color:#fff;padding:10px 0; margin:0;}
.breadcrumb .home-icon{font-size:12px;}  
.breadcrumb li{font-weight:bold;color:#555;}
.breadcrumb li a{font-weight:bold;color:#555;  }
.breadcrumb li a:hover{text-decoration:none; color:#0d73f9;  }
.breadcrumb .active{color:#555;}


.box-search{background-color:#e9e9e9}
.box-search .box-head{background-color:#bfbfbf;float:left;width:100%}
.box-search .box-head a.icon{padding:5px 10px;color:#fff;background-color:#0d73f9;display:block;float:left;margin:2px}
.box-search .box-head .title{font-weight:700;padding:7px;float:left}
.box-search .box-body {
    min-height: 10px;
    padding: 10px 0;
    background: #e9e9e9;
    float: left;
    display: block;
    width: 100%;
}
.box-search .box-body .form-control{
	height:27px; border-radius:0; padding:4px;
}
@media (min-width: 768px){
	.box-search .box-body .form-horizontal .control-label {
		padding-top: 4px; 
	}
}
.box-detailvb{ background-color:#fff}
.box-detailvb .box-head{background-color:#00a6e2;float:left;width:100%}
.box-detailvb .box-head .title{font-weight:700;padding:7px;float:left;color:#fff; text-transform:uppercase;}
.box-detailvb .box-body .control-label{padding-left:10px; padding-right:10px;}
.box-detailvb  .boxcontent h4{text-align:center;}
.box-detailvb .boxcontent .htmlcontent{padding-right:2px;}

.box-listvb{ background-color:#fff}
.box-listvb .box-head{background-color:#00a6e2;float:left;width:100%}
.box-listvb .box-head .title{font-weight:700;padding:7px;float:left;color:#fff; text-transform:uppercase;}
.box-listvb .box-body table thead tr{background-color:#00a6e2;color:#fff;}
.box-listvb{}

.box-right-sidebar{margin-bottom:10px; border:1px solid #eee;}
.box-right-sidebar h4{background:url(../img/arrow-down-blue.png) no-repeat right 5px center #0d73f9;color:#fff;font-size:14px;font-weight:700;margin:0;border-bottom:1px solid #fff;padding:8px 7px;text-transform:uppercase}
.box-right-sidebar ul{list-style:none;margin:0;padding:0}
.box-right-sidebar ul li{background-color:#fff;margin:5px;}
.box-right-sidebar ul li a{ background:url('../img/iconlist.png') no-repeat left top 7px; padding:5px; width:100%;display:block;color:#0389f1;border-bottom:1px solid #eee;font-weight:bold;font-size:13px;text-transform:uppercase; padding-left:20px;position:relative;}
.box-right-sidebar ul li:hover{background-color:#fff;}
.box-right-sidebar ul li:hover a{text-decoration:none;color:black;}
.box-right-sidebar ul li.active{background-color:#0d73f9}
.box-right-sidebar ul li a i{
    float: right;
    font-size: 20px;
    color: #81c4f8;
}

.box-right-sidebar-bottom{margin-bottom:10px; margin-top:2px; border:1px solid #eee;}
.box-right-sidebar-bottom ul{list-style:none;margin:0;padding:0}
.box-right-sidebar-bottom ul li{background-color:#fff;margin:5px;}
.box-right-sidebar-bottom ul li a{ background:url('/_layouts/themes/dah/img/Icon_news.jpg') no-repeat left top 13px; padding:7px; width:100%;display:block;color:#505050;border-bottom:1px solid #eee; font-size:14px; padding-left:20px;position:relative;}
.box-right-sidebar-bottom ul li:hover{background-color:#fff;}
.box-right-sidebar-bottom ul li:hover a{text-decoration:none; color:#0389f1; font-weight:bold;}
.box-right-sidebar-bottom ul li.active{background-color:#0d73f9}
.box-right-sidebar-bottom ul li a i{
    float: right;
    font-size: 20px;
    color: #81c4f8;
}

.footer{margin-top:10px;background-color:#0389f1;width:100%; height:100px;}
.footer .fbody{padding:10px}
.footer .fbody p{padding-top:10px;margin:0; color:#fff;text-align:center; font-size:12px;}

.linkimage img{width:100%; margin-bottom:10px;}

header  .boxsearch{position:absolute;top:10px;right:20px;}
header  .boxsearch{background:rgba(255, 255, 255, 0.58);}
header  .boxsearch input[type="text"]{background:none;border:none !important;outline:none;margin-top:0px;}
header  .boxsearch button{background:#1062cc;border:none !important;outline:none;color:#fff}

nav .container{position:relative;}
.toolbar{position:absolute;right:0;top:0;}
.img-reponsive{width:100%;}

.toolbar{margin-top:6px; margin-right:15px;} 
.toolbar .boxsearch>button{
 position:absolute; left:-25px;min-width: 0px !important;
    padding: 1px 6px; top:1px; background:#fff;border:1px solid #fff; border-right:1px solid #eee;
}
.toolbar .boxsearch .fa{color:#0389f1;}
.toolbar .boxsearch >input{padding-left:5px;}

.topnews h3{font-size:16px;color:#0151bf;margin:0;font-weight:bold;line-height:20px;}
.topnews p.datetime{font-size:11px;color:#505050;font-style:italic;}
.topnews p{font-size:12px;color:#000;text-align:justify}
.topnews .hotnews{margin-top:15px;}
.topnews .hotnews a{margin-top:15px; color:#333;}

.listtopnews {height: 365px;overflow-x: hidden;}
.listtopnews .item{border-bottom: 1px solid #ddd;margin-bottom: 11px;padding-bottom: 0px;}

.box{margin-bottom:20px;}
.box .headingbox{font-weight:bold;text-transform: uppercase;font-size:15px;background:url('../img/iconlist.png') no-repeat left top 3px;border-bottom:2px solid #0389f1;margin-bottom:10px; padding-bottom:3px;}
.box .headingbox a{color:#0389f1;margin-left:20px;position:relative;background:#fff;padding-right:3px;}
.box .headingbox::after{ content:"";                 
    bottom: 0;    
    right: 0;
    height: 0.5em;
	width:90%;
    border-top: 1px solid #0151bf;
    z-index: -1;}

/*.box .headingbox{font-weight:bold;text-transform: uppercase;font-size:16px; margin-bottom:10px; border-bottom:2px solid #0151bf;}
.box .headingbox a{color:#0151bf;background:#fff;}
.box .headingbox::after{ content:"";
    position: absolute;
    bottom: 0;    
    right: 0;
    height: 0.5em;
	width:90%;
    /*border-top: 1px solid #0151bf;*/
    /*z-index: -1;}*/
.box .contentbox .firstitem{margin-bottom:10px}
.box .contentbox .firstitem h3{font-size:14px;margin-top:0px; margin-bottom:5px; font-weight:bold;line-height:20px;}
.box .contentbox .firstitem h3 a{color:#000; margin-bottom:5px;}
.box .contentbox .firstitem h3 a:hover{color:#0389f1;}
.box .contentbox .firstitem h3 i{color:#898989;margin-right:3px;font-size:13px;}
.box .contentbox .firstitem p{color:#333;font-size:13px;margin-bottom:0px !important;}
.box .contentbox .firstitem i.datetime{font-size:11px;color:#505050;font-style:italic;}
.box .contentbox .listitem ul{margin:0;padding:0;list-style-position:outside;margin-left: 3%;list-style-image: url(/_layouts/themes/dah/img/Icon_news.jpg)}
.box .contentbox .listitem ul li{	
    padding: 5px 0px 5px 0px;
}
.box .contentbox .listitem ul li a{color:#000; font-size:14px;}
.box .contentbox .listitem ul li:hover a{text-decoration:underline;}
.box .contentbox .listitem ul li i{color:#898989;margin-right:3px;font-size:12px;]}

.boxflat .headingbox{background:#0389f1;position:relative}
.boxflat .headingbox h3{color:#fff;font-size:16px;padding:15px 10px;;text-transform:uppercase;font-weight:bold;margin:0}
.boxflat .headingbox form{margin-bottom:10px;padding-bottom:1px;}
.boxflat  .boxsearch{position:absolute;top:12px;right:12px;}
.boxflat  .boxsearch{background:rgba(255, 255, 255, 0.58);}
.boxflat  .boxsearch input[type="text"]{background:none;border:none !important;outline:none}
.boxflat  .boxsearch button{background:#1062cc;border:none !important;outline:none;color:#fff}
.boxflat .contentbox{background:#fff}
.boxflat .contentbox.grey{background:#e5e5e5}

.boxflat .headingbox1{background:#d3e7f7;position:relative}
.boxflat .headingbox1 h3{color:#fff;font-size:15px;padding:15px 10px;text-transform:uppercase;font-weight:bold;margin:0;background:#4ba6ef;border:1px solid #eee;}
.boxflat .headingbox1 form{margin:10px 5px 10px 10px;padding-bottom:1px;}

.boxflat .headingbox1 button{background:#4ba6ef; color:#fff; font-size:12px; font-weight:bold;}
.boxflat .headingbox1 .back{color:#000; background:#fff; border:none; font-size:12px; font-weight:bold;}
.boxflat .headingbox1 input{font-size:13px;height:31px !important;}
.boxflat .headingbox1 select{font-size:13px;height:31px !important;}

.mytable{border:none}
.mytable th,.mytable td{border:1px solid #fff;padding:10px}

.boxflat .listitem ul{margin:0;padding:0 10px;list-style-position:outside;list-style:none;}
.boxflat .listitem ul li{
	/*background: url(../img/liststyle.jpg)no-repeat left top 10px;
    border-top: 1px dashed #bfbfbf;*/
    padding: 5px 0px 5px 15px;
}
.boxflat .listitem ul li a{color:#000;}
.boxflat .listitem ul li i{color:#898989;margin-right:3px;font-size:12px;]}
.listnoti{height: 385px;overflow-x: hidden;}


.boxlink{margin-bottom:10px;}
.boxlink .headingbox{font-weight:bold;text-transform: uppercase;font-size:16px;background:url('../img/headbox.jpg') no-repeat left top 3px;position:relative;margin-bottom:10px;color:#0151bf;padding-left:20px;}

.tablelink td{font-weight:bold;padding:5px;line-height:16px;vertical-align:middle}
.tablelink td.image{width:30px;}
.tablelink td.linklabel{width:12%;}

.slidewrapper{position:relative;}
.contentslide{padding:0 20px;}
.contentslide img{border:1px solid #ddd;}

.mbot-10{margin-bottom:10px}

.boxtopnews .datetime{
    font-size:11px;color:#505050;font-style:italic; font-weight:normal;
}
.datetime{font-size:13px; color:#847f7f;}
.boxtopnews .titlenew{
    color:#0389f1; text-transform: uppercase; background:hsla(180, 74%, 36%, 0.21); font-size:15px; font-weight:bold; padding:8px; margin-top:0px; border:1px solid rgba(3, 137, 241, 0.22);
}
.boxtopnews p{font-size:13px; color:#333;}
.boxtopnews h3 {font-size:17px; font-weight:bold;}
.boxtopnews h3 a{color:black;}
.boxtopnews h3 a:hover{color:#0389f1;}
.listbox .TitleVideo{
    color:black;
    font-weight:bold;
    margin-top:5px;margin-bottom:0px;
}
.listbox .resource{ 
    font-style:italic; font-size:13px;   
}
.listbox .box-video{
    height:245px;
}
.box-video a:hover{color:#0389f1;}
#main_content .container .boxtime{
    display:block;
}
.container .listIcon img{
    margin-top:10px; margin-left:5px;   
}
.input-icon.right>img {
    left: auto;right: 7%;top:7%; width:20px; float: right;  
}
.input-icon>img{    
    position: absolute;
    margin: 11px 2px 4px 10px;
    z-index: 3;
    width: 16px;   
    text-align: center;
}
.boxcolor{   
    background-color:#e5e5e5;
}
.boxcolor div{
    margin:8px;
}
.boxcolor label{
    color:#0389f1;margin:10px 0px 0px -15px;
}
.tableCustom thead{
    background-color:#e5e5e5;   
}
.tableCustom th{
    color:#0389f1;
    border-right:1px solid #fff;
}
.tableCustom .borderright{
     border-right:1px solid #e5e5e5;
}
.tableCustom td{
    border:1px solid #e5e5e5 !important;
}
.tableCustom td a img{
    margin-left:33%;
}
.boxyear{
    border-top:2px solid #fff;background-color:#0389f1;    
}
.boxyear label{
    margin:10px; color:#fff; font-weight:bold;
     
}
.linkother ul {
    list-style: none; padding:5px; margin-left:-5px;
}
.linkother ul li{padding-bottom:8px;}
.linkother ul li a{color:#333;font-weight:bold;}
.linkother ul li a:hover{color:#0151bf;font-weight:bold;}
.linkother ul li a i{
   font-size:19px; font-weight:bold; padding-right:10px; color:#0151bf;
}
.tag{font-size:14px;color:#0151bf; font-weight:bold;}
.tag .label-default{background-color:#ddd;color:black; font-size:12px;}
.titlenews{color:#0151bf; font-weight:bold;}
.bodynew{color:black;}
.bodynew p{text-align:justify;}
.headingbox .titlenews{font-size:15px; color:black; font-family:Arial;}
.headingbox a:hover .titlenews{color:#0151bf;}
.headingbox .titlenews .datetime{font-size:11px;font-weight:normal;}

.top{width:100% !important; background:#e5e5e5;}
.topdate{background:#e5e5e5;padding:5px 0px 5px 5px;}
.topdate .btnlogin{border:none !important; background:#e5e5e5;}

.boxlistnews{background:hsla(180, 74%, 36%, 0.21); border:1px solid rgba(3, 137, 241, 0.22); padding-bottom:10px;}
.boxlistnews .item{margin:0px 18px;}
.boxlistnews .item>hr{margin-top:10px; margin-bottom:5px; border-top:1px solid #ccc;}
.boxlistnews .item a{color:black;}
.boxlistnews .item .img-reponsive{height:120px;}
.boxlistnews .itme .listTitle{text-transform: uppercase;color:blue;font-size:15px;font-weight:bold; background:hsla(180, 74%, 36%, 0.21); margin:0px;}
.boxlistnews .item h4{color:#0389f1; text-transform: uppercase; background:none; font-size:15px; font-weight:bold; margin-bottom:0px;}

.linkweb{background:#0389f1;padding:5px; margin-bottom:0px;}
.linkweb select{width:115px; height:25px; font-size:11px;}
.linkweb span{color:#fff;    font-weight: bold;font-size: 13px;}

.tab-menu-right{background:#0389f1; padding:5px 0px 0px 5px;}
.tab-menu-right li a{padding:4px 8px; color:#fff; font-weight:bold; font-size:13px;}
.tab-menu-right li a:hover{color:#000; background:#fff; border:1px solid #fff;}
.tab-menu-right li.active{color:#0389f1;}

hr{margin:5px;}

.menufooter ul {
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    list-style: none;
    margin-left:30%;
    margin-top:0px;
}
.menufooter ul li{float:left;white-space:nowrap;-webkit-transition:background .2s;transition:background .2s;}
.menufooter ul li a{padding-right:20px;display:block;color:#333;font-size:12px; font-weight:bold;}

.titlenewspage h3 {margin:0px;text-transform:uppercase; color:#0389f1; font-weight:bold; font-size:15px;}

.btn{padding:3px 10px; font-size:13px;}
.btn-group-sm>.btn, .btn-sm{padding:3px 10px;} 
.table{margin-bottom:0 !important;}
ul.list-attach{padding:0 10px; margin:0;}ul.list-attach li{list-style:none;}

.listtopnews {height: 365px;overflow-x: hidden;overflow-y:scroll;}
.listtopnews .item{margin-bottom: 0;padding-bottom: 4px; }

.boxtopnews .col-md-9{padding:0;}
.topnews > .row{margin:0;}
.topnews .news-content .col-md-8{margin-right:0; padding-right:0;}
.topnews .news-content .col-md-4{ padding-right:20px;}
.topnews h3{font-size:16px;color:#0d73f9;margin:0;font-weight:bold;line-height:20px;margin:5px 0px 10px;}
.topnews p.datetime{font-size:11px;color:#505050;font-style:italic;}
.topnews p{color:#000;text-align:justify}

.topnews h4{font-size:14px;color:#0151bf;margin:0;font-weight:bold;line-height:20px;margin:0px 0px 10px;}
.topnews .viewmore{font-size:12px;color:#0151bf;}
.topnews{
	height: auto;
}
.topnews-home{
	height: 0 !important;
}
.toolbarChuChay{position:absolute;right:2%; left:2%;font-size: 18px;top:407px;color:white !important;padding-left:3px; }
.BlockTitleNewsMenuchuchay
{
	font-family: Tahoma;
 	font-size: 18px;
	font-weight: bold;
	color: Red;
	text-transform: uppercase;
	margin-left: 4px;
	margin-top: 0px;
	text-decoration: none;  
}
